body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 16px;
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.step,
.count {
  display: flex;
  align-items: center;
  gap: 10px;
}

.counter-button {
  background-color: rgb(61, 61, 225);
  height: 30px;
  width: 30px;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.counter-button p {
  color: rgb(240, 240, 240);
  font-weight: bold;
}
